<table class="w-full mt-4 text-sm text-left rtl:text-right text-gray-500">
  <thead class="text-xs text-gray-700 uppercase bg-gray-50">
    <tr>
      <th scope="col" class="px-6 py-3">Nome</th>
      <th scope="col" class="px-6 py-3">Status</th>
      <th scope="col" class="px-6 py-3">Data</th>
    </tr>
  </thead>
  <tbody>
    <tr class="bg-white border-b" *ngFor="let item of orderList">
      <th
        scope="row"
        class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"
      >
      <button type="button" (click)="openModal(item)">
        <span class="font-bold">
          {{item.user.name}}
        </span>
      </button>
      </th>
      <td class="px-6 py-4">
        <span class="px-3 py-1 rounded" [ngClass]="{
          'text-gray-400 bg-gray-50': item.status == 'received',
          'text-red-400 bg-red-50': item.status == 'cancelled',
          'text-green-400 bg-green-50': item.status == 'delivered',
          'text-yellow-600 bg-yellow-50': item.status == 'processing'
        }">
          {{item.status}}
        </span>
      </td>
      <td class="px-6 py-4">{{item.created_at | date:' dd/MM/yyyy HH:mm' }}</td>
    </tr>
  </tbody>
</table>

<app-order-modal 
  [userData]="userDataValue"
  [modalControl]="modalControl"
  (modalEmitter)="modalControl = $event"
  (listEmitter)="getOrderList()"
></app-order-modal>