<aside class="w-64 bg-gray-800" style="height: calc(100vh - 65px);">
  <nav class="p-4">
    <div>
      <a [routerLink]="['/dashboard']" class="block p-2 w-full text-sm text-gray-200 ">
        <fa-icon [icon]="faHouse" class="pr-2"></fa-icon> Dashboard
      </a>
      <a [routerLink]="['/products']" class="block mt-1 p-2 w-full text-sm text-gray-200 ">
        <fa-icon [icon]="faHouse" class="pr-2"></fa-icon> Produtos
      </a>
      <a [routerLink]="['/users']" class="block mt-1 p-2 w-full text-sm text-gray-200 ">
        <fa-icon [icon]="faHouse" class="pr-2"></fa-icon> Usuários
      </a>
    </div>
  </nav>
</aside>